.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: blink 1s infinite; /* Yonib o'chuvchi animatsiya */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.play-icon {
  width: 50px !important;
  height: 50px !important; // Agar kerak bo'lsa, balandlikni ham belgilab qo'yishingiz mumkin
  color: white !important; // SVG rangini o'zgartirish
}

.intro {
  height: 480px !important; /* Balandlikni to'liq ekranga tenglashtirish */
  background-size: cover; /* Rasmni konteynerga moslashtirish */
  background-position: center; /* Rasmni markazlashtirish */
  background-color: rgba(0, 0, 0, 0.7) !important; /* Shaffoflikni oshirish */
  width: 100% !important;
  background-image: url("../assets/img/bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  &_wrapper {
    width: 100% !important;
    max-width: 1250px !important;
    margin: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_text {
    color: #fff;
    font-size: 52px;
    line-height: normal;
    margin-right: 25px;
    text-align: left;
    width: 100%;
    font-weight: 700;
  }

  .intro-container {
    width: 80% !important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px !important;
  }

  .intro-mySwiper {
    width: 100% !important; /* Ekranning 80% kengligi */
    height: 100% !important; /* Ekranning 60% balandligi */
    border-radius: 25px !important;
    perspective: 1500px; /* Cube effekti uchun */
    .swiper-pagination-bullet {
      background-color: #007bff; /* Pagination bullet rangini belgilash */
    }
  }

  .intro-slide {
    border-radius: 25px !important;

    width: 100% !important;
    height: 100% !important; /* To'liq ekran balandligi */
    background-size: cover; /* Rasmni konteynerga to'liq joylashtirish */
    background-position: center; /* Rasmni markazlashtirish */
  }

  .intro-slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
  .intro-slide-img {
    border-radius: 25px !important;

    width: 100% !important;
    height: 100% !important;
  }

  .intro-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .intro-play-icon {
    width: 50px;
    height: 50px;
    color: white;
  }

  .slider,
  .slider * {
    pointer-events: all; /* Slayder elementlarining hammasiga interaktivlik berish */
  }
}
